# Bawaan Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Windows
windows/flutter/ephemeral/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
